<ion-content>
  <body>
  <ion-content>
    <div class="u2g-page-wrapper">

      <!--HEADER-->

      <header-page></header-page>

      <!--LEFT NAVIGATION SIDEBAR-->

      <sidebar-page></sidebar-page>

      <div class="u2g-container u2g-container--simple-page">
        <div class="u2g-content-wrapper">

          <div class="u2g-content u2g-content--simple-page">

            <!--TRANSACTION TABLE-->

            <div class="u2g-transactions">
              <table class="u2g-transactions__table">
                <thead>
                <tr>
                  <td>{{'_DATE' | translate}}</td>
                  <td>{{'_INVOICE' |translate}}</td>
                  <td>{{'_PAYMENT_METHODS' | translate}}</td>
                  <td>{{'_NET' | translate}}</td>
                  <td>{{'_BALANCE' | translate}}</td>
                  <td>{{'_TYPE' | translate}}</td>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let transaction of listTransaction | paginate: { itemsPerPage: 10, currentPage: p }">
                  <td>{{transaction.date}}</td>
                  <td><a (click)="invoice($event, transaction.invoice)" >{{transaction.invoice}}</a></td>
                  <td></td>
                  <td>{{transaction.net}}</td>
                  <td>{{transaction.balance}}</td>
                  <td (click)="goTo(transaction.type)" *ngIf="transaction.type !== 'ADJUSTMENT'" class="u2g-transactions__text u2g-transactions__text--red"><span>{{transaction.type_value}}</span></td>
                  <td *ngIf="transaction.type === 'ADJUSTMENT'" class="u2g-transactions__text"><span>{{transaction.type_value | translate}}</span></td>
                </tr>
                </tbody>
              </table>
            </div>

            <!--          TRANSACTION PAGINATION-->

            <div class="pagination">
              <pagination-controls previousLabel=""
                                   nextLabel=""
                                   maxSize="5"
                                   class="my-pagination"
                                   (pageChange)="p = $event">

              </pagination-controls>
            </div>
          </div>
        </div>
      </div>



      <div class="u2g-overlay"></div>
    </div>
  </ion-content>
  </body>
</ion-content>
