<ion-header>
  <header-page [logoWrapper]="logoWrapper"></header-page>
</ion-header>
<ion-content>
  <body>
  <ion-content>
    <div class="u2g-page-wrapper">

      <!--LEFT NAVIGATION SIDEBAR-->

      <sidebar-page></sidebar-page>

      <div class="u2g-container u2g-container--simple-page">
        <div class="u2g-content-wrapper">
          <a (click)="navTo($event, bread.id)" class="breadcrumbs" *ngFor="let bread of this.navCtrl.getViews(); index as index">{{bread.name | translate}} <span *ngIf="this.navCtrl.getViews().length !== index+1"> -> </span></a>

          <div class="u2g-content">

          <!--   PAYMENT FORM-->

          <div class="u2g-payment-form-wrapper">
            <form class="u2g-payment-form">
              <h4 class="u2g-payment-form__text">{{'_CARTU_PAYMENT_RECOMENDED_1' | translate}}{{unpaid_invoice}}{{'_CARTU_PAYMENT_RECOMENDED_2' | translate}}</h4>
              <span class="u2g-payment-form__text">{{'_ENTER_AMOUNT_GEL' | translate}}: </span>
              <input [(ngModel)]="amount" [ngModelOptions]="{standalone: true}" type="text" class="u2g-payment-form__input">
              <button [disabled]="!amount" (click)="getCartuDescriptor()" class="u2g-button" style="height: 30px">{{'_PAYMENT' | translate}}</button>
              <p class="u2g-payment-form__note">{{'_CARTU_PAYMENT_NOTE' | translate}}.</p>
            </form>
          </div>
        </div>
      </div>



      <div class="u2g-overlay"></div>
    </div>
    </div>
  </ion-content>
  </body>
</ion-content>
