<ion-content>
  <body>
  <ion-content>
    <div class="u2g-page-wrapper">

      <!--HEADER-->

      <header-page></header-page>

      <!--LEFT NAVIGATION SIDEBAR-->

      <sidebar-page></sidebar-page>

      <div class="u2g-container u2g-container--arrived">
        <div class="u2g-content-wrapper">

          <div class="u2g-content-panel u2g-content-panel--space-between">
            <button [disabled]="block" (click)="expressCourier()" class="u2g-button u2g-button--express-courier" data-popup="courier-enough-balance">{{'_EXPRESS_RETRIEVE_BUTTON' | translate}}</button>
          </div>
        </div>

        <!--    INFO BLOCKS WRAPPER / CONTENT -->

        <div class="u2g-content u2g-content--masonry">
          <div *ngFor="let arrived of listArrived; index as index" class="u2g-info-block">
            <div class="u2g-info-block__tracking-number">
              <span class="u2g-info-block__tracking-number-title">{{'_AIR_WAY_BILL' | translate}}:</span>
              <span class="u2g-info-block__tracking-number-value">{{ arrived.hawb }}</span>
            </div>
            <div class="u2g-info-block__button-wrapper">
              <button (click)="showInvoiceInfoPopup(null, index)" data-popup="invoice-table" class="u2g-info-block__button u2g-info-block__button--top"><span>{{'_VIEW_INVOICE' | translate}}</span></button>
            </div>
            <div class="u2g-info-block__list u2g-info-block__list--bg-all">
              <div *ngFor="let trackings of arrived.trackings; index as _index" class="u2g-info-block__list-item">
                <span>{{trackings.tracking}}</span>
                <div (click)="showCommentPopup(null, index, _index)" class="u2g-info-block__comment u2g-info-block__comment--small">
                  <svg viewBox="0 0 128 128"><g><path class="u2g-st0" d="M64,12.6c-34.7,0-63,21-63,46.8C1,70.1,6.1,80.7,15.3,89c0.8,0.7,1,1.8,0.7,2.7l-8.7,23.7L32.7,101   c0.7-0.4,1.4-0.4,2.1-0.2c9.1,3.5,18.9,5.3,29.1,5.3c34.7,0,63-21,63-46.8S98.7,12.6,64,12.6z M31.1,69.9   c-5.6,0-10.2-4.6-10.2-10.2c0-5.6,4.6-10.2,10.2-10.2s10.2,4.6,10.2,10.2C41.2,65.4,36.7,69.9,31.1,69.9z M64,69.9   c-5.6,0-10.2-4.6-10.2-10.2c0-5.6,4.6-10.2,10.2-10.2c5.6,0,10.2,4.6,10.2,10.2C74.2,65.4,69.6,69.9,64,69.9z M96.9,69.9   c-5.6,0-10.2-4.6-10.2-10.2c0-5.6,4.6-10.2,10.2-10.2c5.6,0,10.2,4.6,10.2,10.2C107.1,65.4,102.6,69.9,96.9,69.9z"/></g></svg>
                </div>
                <div (click)="showInvoicePopup(null, index, _index)" class="u2g-info-block__invoice u2g-info-block__comment--small">
                  <svg viewBox="0 0 47 43"><defs><style>.cls-1{fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:4px;}</style></defs><path class="cls-1" d="M32.6,12.5L14,31a12,12,0,0,0,0,17,12.21,12.21,0,0,0,17.14,0l20-19.87c3.34-3.32,3-8.39-.36-11.71A8.4,8.4,0,0,0,39,16.07L19.56,35.39a4.89,4.89,0,0,0,.18,6.92,5,5,0,0,0,7,.18L43.31,26" transform="translate(-8.5 -10.5)"/></svg>
                </div>
              </div>
            </div>
            <div class="u2g-arrived-info-wrapper">
              <div class="u2g-info-block__arrived-info u2g-arrived-info">
                <h5 class="u2g-arrived-info__value">${{arrived.price}}</h5>
                <span class="u2g-arrived-info__explanation">{{'_TOTAL_AMOUNT' | translate}}</span>
              </div>
              <div class="u2g-info-block__arrived-info u2g-arrived-info">
                <h5 class="u2g-arrived-info__value">{{arrived.weight_kg}} kg</h5>
                <span class="u2g-arrived-info__explanation">{{'_CHARGEABLE_WEIGHT' | translate}}</span>
              </div>
              <div class="u2g-info-block__arrived-info u2g-arrived-info">
                <h5 class="u2g-arrived-info__value u2g-arrived-info__value--small">{{arrived.shipper || '_PERSONAL' | translate}}</h5>
                <span class="u2g-arrived-info__explanation">{{'_SHIPPER' | translate}}</span>
              </div>
              <div class="u2g-info-block__arrived-info u2g-arrived-info">
                <h5 class="u2g-arrived-info__value u2g-arrived-info__value--small">{{arrived.branch | translate}}</h5>
                <span class="u2g-arrived-info__explanation">{{'_LOCATION' |translate}}</span>
              </div>
            </div>
          </div>
          <div *ngFor="let city of keys" class="u2g-info-block u2g-info-block--packages-being" data-packages="Packages are being prepared Abasha to send!">
            <div *ngFor="let arrived of ListCities[city]; index as index" class="u2g-info-block">
              <div class="u2g-info-block__tracking-number">
                <span class="u2g-info-block__tracking-number-title">{{'_AIR_WAY_BILL' | translate}}:</span>
                <span class="u2g-info-block__tracking-number-value">{{arrived.hawb}}</span>
              </div>
              <div class="u2g-info-block__button-wrapper">
                <button (click)="showInvoiceInfoPopup(city, index)" data-popup="invoice-table" class="u2g-info-block__button u2g-info-block__button--top"><span>{{'_VIEW_INVOICE' | translate}}</span></button>
              </div>
              <div *ngFor="let tracking of arrived.trackings; index as _index" class="u2g-info-block__list u2g-info-block__list--bg-all">
                <div class="u2g-info-block__list-item">
                  <span>{{tracking.tracking}}</span>
                  <div (click)="showCommentPopup(city, index, _index)" class="u2g-info-block__comment u2g-info-block__comment--small">
                    <svg viewBox="0 0 128 128"><g><path class="u2g-st0" d="M64,12.6c-34.7,0-63,21-63,46.8C1,70.1,6.1,80.7,15.3,89c0.8,0.7,1,1.8,0.7,2.7l-8.7,23.7L32.7,101   c0.7-0.4,1.4-0.4,2.1-0.2c9.1,3.5,18.9,5.3,29.1,5.3c34.7,0,63-21,63-46.8S98.7,12.6,64,12.6z M31.1,69.9   c-5.6,0-10.2-4.6-10.2-10.2c0-5.6,4.6-10.2,10.2-10.2s10.2,4.6,10.2,10.2C41.2,65.4,36.7,69.9,31.1,69.9z M64,69.9   c-5.6,0-10.2-4.6-10.2-10.2c0-5.6,4.6-10.2,10.2-10.2c5.6,0,10.2,4.6,10.2,10.2C74.2,65.4,69.6,69.9,64,69.9z M96.9,69.9   c-5.6,0-10.2-4.6-10.2-10.2c0-5.6,4.6-10.2,10.2-10.2c5.6,0,10.2,4.6,10.2,10.2C107.1,65.4,102.6,69.9,96.9,69.9z"/></g></svg>
                  </div>
                  <div (click)="showInvoicePopup(city, index, _index)" class="u2g-info-block__invoice u2g-info-block__comment--small">
                    <svg viewBox="0 0 47 43"><defs><style>.cls-1{fill:none;stroke-linecap:round;stroke-linejoin:round;stroke-width:4px;}</style></defs><path class="cls-1" d="M32.6,12.5L14,31a12,12,0,0,0,0,17,12.21,12.21,0,0,0,17.14,0l20-19.87c3.34-3.32,3-8.39-.36-11.71A8.4,8.4,0,0,0,39,16.07L19.56,35.39a4.89,4.89,0,0,0,.18,6.92,5,5,0,0,0,7,.18L43.31,26" transform="translate(-8.5 -10.5)"/></svg>
                  </div>
                </div>
              </div>
              <div class="u2g-arrived-info-wrapper">
                <div class="u2g-info-block__arrived-info u2g-arrived-info">
                  <h5 class="u2g-arrived-info__value">${{arrived.price}}</h5>
                  <span class="u2g-arrived-info__explanation">{{'_TOTAL_AMOUNT' | translate}}</span>
                </div>
                <div class="u2g-info-block__arrived-info u2g-arrived-info">
                  <h5 class="u2g-arrived-info__value">{{arrived.weight_kg}} {{'_KG'}}</h5>
                  <span class="u2g-arrived-info__explanation">{{'_CHARGEABLE_WEIGHT' | translate}}</span>
                </div>
                <div class="u2g-info-block__arrived-info u2g-arrived-info">
                  <h5 class="u2g-arrived-info__value u2g-arrived-info__value--small">{{arrived.shipper || '_PERSONAL' | translate}}</h5>
                  <span class="u2g-arrived-info__explanation">{{'_SHIPPER' | translate}}</span>
                </div>
                <div class="u2g-info-block__arrived-info u2g-arrived-info">
                  <h5 class="u2g-arrived-info__value u2g-arrived-info__value--small">{{arrived.branch | translate}}</h5>
                  <span class="u2g-arrived-info__explanation">{{'_LOCATION' | translate}}</span>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="u2g-overlay"></div>
    </div>
  </ion-content>
  </body>
</ion-content>
