<ion-header>
  <header-page [logoWrapper]="logoWrapper"></header-page>
</ion-header>
<ion-content>
  <body>
  <ion-content>
    <div class="u2g-page-wrapper">

      <!--LEFT NAVIGATION SIDEBAR-->

      <sidebar-page [active]="active"></sidebar-page>

      <div class="u2g-container u2g-container--simple-page">
        <div class="u2g-content-wrapper">
          <a (click)="navTo($event, bread.id)" class="breadcrumbs" *ngFor="let bread of this.navCtrl.getViews(); index as index">{{bread.name}} <span *ngIf="this.navCtrl.getViews().length !== index+1"> -> </span></a>

          <!--INFO BLOCKS WRAPPER / CONTENT -->

          <div class="u2g-content u2g-content--masonry">
            <div *ngFor="let received of listReceived; index as index" class="u2g-info-block u2g-info-block--received">
              <div class="u2g-info-block__tracking-number">
                <span class="u2g-info-block__tracking-number-title">{{'_AIR_WAY_BILL' | translate}}:</span>
                <span class="u2g-info-block__tracking-number-value">{{received.hawb}}</span>
              </div>
              <div class="u2g-info-block__button-wrapper">
                <a (click)="invoice($event, index)"  class="u2g-info-block__button u2g-info-block__button--top">{{'_INVOICE' | translate}}</a>
              </div>
              <div class="u2g-info-block__list">
                <div *ngFor="let tracking of received.trackings; index as _index" class="u2g-info-block__list-item u2g-tracing-code">
                  <span class="u2g-tracking-code__title">1. {{'_TRACKING_CODE' | translate}}:</span>
                  <span class="u2g-tracking-code__number">{{tracking.tracking}}</span>
                  <div (click)="showCommentPopup(index, _index)" class="u2g-info-block__comment u2g-info-block__comment--small">
                    <svg viewBox="0 0 128 128"><g><path class="u2g-st0" d="M64,12.6c-34.7,0-63,21-63,46.8C1,70.1,6.1,80.7,15.3,89c0.8,0.7,1,1.8,0.7,2.7l-8.7,23.7L32.7,101   c0.7-0.4,1.4-0.4,2.1-0.2c9.1,3.5,18.9,5.3,29.1,5.3c34.7,0,63-21,63-46.8S98.7,12.6,64,12.6z M31.1,69.9   c-5.6,0-10.2-4.6-10.2-10.2c0-5.6,4.6-10.2,10.2-10.2s10.2,4.6,10.2,10.2C41.2,65.4,36.7,69.9,31.1,69.9z M64,69.9   c-5.6,0-10.2-4.6-10.2-10.2c0-5.6,4.6-10.2,10.2-10.2c5.6,0,10.2,4.6,10.2,10.2C74.2,65.4,69.6,69.9,64,69.9z M96.9,69.9   c-5.6,0-10.2-4.6-10.2-10.2c0-5.6,4.6-10.2,10.2-10.2c5.6,0,10.2,4.6,10.2,10.2C107.1,65.4,102.6,69.9,96.9,69.9z"/></g></svg>
                  </div>
                </div>
              </div>
              <div class="u2g-info-block__received-info u2g-received-info">
                <span class="u2g-received-info__value">{{received.chargeable_kg}} {{'_KG' | translate}}</span>
                <span class="u2g-received-info__description">{{'_CHARGEABLE_WEIGHT' | translate}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="u2g-overlay"></div>
    </div>
  </ion-content>
  </body>
</ion-content>
